<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MRPV4 FUNC BOX</title>
</head>
<body>
<div class="container">
    <h2>가격 가져오기</h2>
    <p>pop_id 와 cover_code 를 입력하여 가격 정보를 가져온다</p>
    <form class="form-inline" role="form">
        <div class="row">
            <div class="form-group col-md-4 col-sm-4">
                <div class="input-group"><span class="input-group-addon">pop_id</span>
                    <input id="pop_id" class="form-control" type="text" placeholder="4자리 pop_id 입력" />
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-6">
                <div class="input-group"><span class="input-group-addon">cover_code</span>
                    <input id="cover_code" class="form-control" type="text" placeholder="22자리 cover_code 입력" style="width:250px">
                </div>
            </div>
            <div class="form-group col-md-2 col-sm-2">
                <button id="request" type="button" class="btn btn-default">요청하기</button>
            </div>
        </div>
    </form>

    <h2>결과</h2>
    <div class="well">
        <span id="result">0</span><span>원</span>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/package.js') }}"></script>
</body>
</html>